.link-header {
  color: black;
  font-family:cursive;
  font-size: 30px;
}
.link-buy {
  color: black;
}

.link-buy:hover {
  color: gray;
}
.buy-length {
  background-color: red;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 2px;
}
.shopping{
  font-size: 20px;
}
